.video-container {
    background-color: black;
    margin: 0;
    padding: 0;

}

.video-container > div {
    margin: 0;
    padding: 0;
}

.video-item {
    /*width: 100%;*/
    display: none;
}


#show-less-description-btn,
#video-meta-details-container,
#video-meta-details-container .description {
    display: none;
}