.cn-row {
    height: 100%;
}

.cn-col {
    height: 100%;
    display: block;
    padding: 0;
}


#cn-left-col {
    background-color: yellow;
}

#cn-center-col {
    background-color: red;
}

#cn-right-col {
    background-color: azure;
}