.cn-row {
    height: 100%;
}

.cn-col {
    height: fit-content;
    width: fit-content;
    min-height: 700px;
    display: block;
    padding: 0;
    z-index: 1;
}


#cn-left-col {
    background-color: yellow;
    position: fixed;
}

#cn-center-col {
    background-color: whitesmoke;
}

#cn-right-col {
    background-color: azure;
    position: fixed;
    right: 0;
}